
.divNosotros{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 100%;
    
    
  
}

.imgNosotros{
    width: 240px;
    border-radius: 20px 40px;
    margin-left: 40px;
    cursor: pointer;
    transition:  box-shadow 0.3s ease;
    box-shadow:  0.1rem 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.3) ;
}

.imgNosotros:hover{
    box-shadow:  0.1rem 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.3) ;
}


.letrasNosotros{
    color: rgb(0, 0, 0);
    width: 500px;
    margin-left: 260px;
    margin-right: 60px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}