.conteinerBeneficios{
    margin-top: 200px;
    margin-left: 150px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.titulosBeneficios{
    color:#8b0404;
    text-align: center;
}



.beneficios{
    width: 50%;
    margin-right: 90px;
}

@media only screen and (max-width: 768px) {
    .conteinerBeneficios{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 170px;
    }
    
}
  

@media only screen and (max-width: 480px) {
    .conteinerBeneficios{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 170px;
    }
    .beneficios{
        width: 100%;
        margin-left: 10px;
    }
    
    
}