.conteinerUnete{
    margin-top: 200px;
    color: aliceblue;
    display: flex;
    margin-bottom: 70px;
}

.streamer{
   width: 50%;
   margin-left: 150px;
}

.titulosUnete{
    color:#8b0404;
    text-align: center;
    
}

.iconUnete{
    width: 30px;
    color: #8b0404;
    height: 20px;
}

.imagenUnete{
    width: 270px;
    margin-left: 95px;
    transition:  box-shadow 0.3s ease;
    box-shadow:  0.4rem 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.3) ;
    border-radius: 20px 60px;
    cursor: pointer;
}

.buttonUnete{
    position: relative;
    right: 200px;
    top: 170px;
}

.linkUnete{
    text-decoration: none;
    color: aliceblue;
}


@media only screen and (max-width: 768px) {
    .conteinerUnete{
        display: flex;
        flex-direction: column;
    }
    .streamer{
        width: 100%;
        margin-left: 20px;
    }
    .uneteDivButton{
        display: flex;
        flex-direction: column;
        margin-bottom:0;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        
    }
    .imagenUnete{
        margin-top: 10px;
        position: relative;
        right: 35px;
        
    }
    .buttonUnete{
        position: relative;
        top: -70px; /* Ajusta según sea necesario para moverlo hacia arriba */
        left: 20px;
        width: 150px;
    }
    
}
  

@media only screen and (max-width: 480px) {
    .conteinerUnete{
        display: flex;
        flex-direction: column;
    }
    .streamer{
        width: 100%;
        margin-left: 0;
    }
    .uneteDivButton{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .imagenUnete{
        margin-top: 10px;
        position: relative;
        right: 35px;
    }
    .buttonUnete{
        position: relative;
        top: -70px; 
        left: 20px;
        width: 150px;
    }
    
}