body{
    font-family: Poppins, sans-serif;
      margin: 0;
      background-color: #f8f3f6;
}
  
.conteiner{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navegador{
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      transition: background-color 0.3s, box-shadow 0.3s; /* Agregar transiciones suaves */
      position: fixed; /* Fijar el encabezado en la parte superior */
      top: 0; /* Posicionar en la parte superior */
      z-index: 1000; /* Asegurar que esté por encima de otros elementos */
      width: 100%;
      margin-bottom: 20px;
      
}
  
.header-scroll {
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
      color: rgb(44, 72, 87);
}
    
  
  
.Navmenu{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: rgb(3, 3, 3);
}
  
.NavItem{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 25px 25px;
    list-style: none;
    font-weight: 500;
    size: 15px;
    line-height: 20px;
    cursor: pointer;
    position: relative
}
  
.NavLink{
    text-decoration: none;
    color: #1a1212;
}
  
.NavItem::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to left, transparent 50%, #E92779 50%);
      background-size: 200% 100%;
      background-position: right;
      transition: background-position 0.3s ease;
      
}
    
    
.NavItem:hover::after {
      background-position: left;
}
  
.imagLogo{
      width: 120px;
      cursor: pointer;
}
  
.iconNav{
      height: 25px;
      cursor: pointer;
      margin: 4px;
      color: #E92779;
      transition: transform 0.2s ease;
}

.iconNav:hover {
      transform: scale(2.1); /* Escalamos el tamaño del icono al 110% cuando el cursor pasa por encima */
  }



.ulIcons{
      position: relative;
      bottom: 7px;
      left:10px;
}
  
  
  